* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: #fafafa;
  background-color: #06171e;
  font-family: Arial, Helvetica, sans-serif;
}
.page-content {
  flex: 1;
  margin-top: 110px;
  padding-left: 16px;
  padding-right: 16px;
}


ul {
  list-style: none;
}
.site-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-color: #09212A;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.site-logo {
  width: auto;
  height: 70px;
}
h1 {
  margin-top: 179px;
  text-align: center;
  font-size: 75px;
  font-weight: 800;
}
.gallery-grid {
        padding-top: 331px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }


.img-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.itemImage {
  width: 192px;
  height: 200px;
  object-fit: cover;

  border-radius: 18px;
  border: 2px solid rgba(18, 70, 88, 0.9);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease-in;
  display: block;
}

.itemImage:hover {
  transform: scale(1.08);
}

.page-footer {
  margin-top: auto;
  position: relative;
  height: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  opacity: 0.9;
}
.footer-content {
  position: relative;
  margin-top: 122px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.site-footer p {
  font-size: 20px;
  font-weight: 400;
  color: #627b84;
  margin: 2px;
}
.footer-logo-img {
  width: auto;
  height: 50px;
}

#lightbox {
  border: none;
  border-radius: 16px;
  height: 624px;
  width: 343px;
  background-color: #09212a;
  color: #fafafa;
  padding: 0;
}

#lightbox::backdrop {
  background: rgba(0, 0, 0, 0.55);
}

.lightbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

#closeDialogBtn {
  height: 32px;
  width: 32px;
  font-size: 18px;
  font-weight: 800;
  background-color: transparent;
  border: none;
  color: #fafafa;
  cursor: pointer;
}

#closeDialogBtn:hover {
  border-radius: 50%;
  background-color: #124658;
}

.lightbox-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 32px;
}

.lightbox-image {
  width: 300px;
  height: 375px;
  object-fit: cover;
}

.lightbox-footer {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#currentImg {
  color: #cfe2e8;
}

#nextBtn,
#previousBtn {
  height: 60px;
  width: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-image: url("./img/Arrow-Right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#nextBtn:hover,
#previousBtn:hover {
  background-image: url("./img/Arrow-Right-1.png");
}

#previousBtn {
  transform: scaleX(-1);
}


@media (max-width: 430px) {
  h1 {
    margin-top: 60px;
    font-size: 48px;
    line-height: 1.1;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 150px);
    gap: 16px;
    justify-content: center;
  }

  .itemImage {
    width: 150px;
    height: 150px;
    border-radius: 16px;
  }
}

@media (min-width: 1440px) {
  .site-header {
    justify-content: flex-start;
    padding-left: 240px;
  }

  .page-content {
    padding-left: 240px;
    padding-right: 240px;
  }

  .page-footer {
    margin-top: 150px;
  }

  #lightbox {
    width: 690px;
    height: 675px;
  }

  .lightbox-image {
    width: 560px;
    height: 375px;
  }
}

@media (min-width: 1441px) {
  .site-header {
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
  }

  .page-content {
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
  }
}
