* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fafafa;
  background-color: #06171e;
  font-family: Arial, Helvetica, sans-serif;
}

.page-content {
  flex: 1;
  margin-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: hidden;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #09212a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-logo {
  width: auto;
  height: clamp(25px, 4vw, 40px);
}

h1 {
 
  margin-top: clamp(15px, 4vw, 60px);
  text-align: center;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
  line-height: 1.1;
}

.gallery-grid {

  padding-top: clamp(20px, 4vw, 40px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.img-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.itemImage {
  width: clamp(100px, 14vw, 140px);
  height: clamp(100px, 14vw, 140px);
  object-fit: cover;
  border-radius: 18px;
  border: 2px solid rgba(18, 70, 88, 0.9);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease-in;
  display: block;
}

.itemImage:hover {
  transform: scale(1.08);
}

/* Footer */
.page-footer {
  margin-top: auto;
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: clamp(100px, 10vw, 120px);
  object-fit: cover;
  opacity: 0.9;
}

.footer-content {
  position: relative;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.site-footer p,
.page-footer p {
  font-size: clamp(10px, 2vw, 12px);
  font-weight: 400;
  color: #627b84;
  margin: 2px;
}

.footer-logo-img {
  width: auto;
  height: clamp(20px, 4vw, 30px);
}

#lightbox {
  border: none;
  border-radius: 16px;
  background-color: #09212a;
  color: #fafafa;
  padding: 0;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

}

#lightbox::backdrop {
  background: rgba(0, 0, 0, 0.55);
}

.lightbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 12px;
}

#closeDialogBtn {
  height: 32px;
  width: 32px;
  font-size: 18px;
  font-weight: 800;
  background-color: transparent;
  border: none;
  color: #fafafa;
  cursor: pointer;
}

#closeDialogBtn:hover {
  border-radius: 50%;
  background-color: #124658;
}

.lightbox-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.lightbox-image {
  width: clamp(150px, 20vw, 250px);
  height: clamp(150px, 20vw, 250px);
  object-fit: cover;
}

.lightbox-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

#currentImg {
  color: #cfe2e8;
}

#nextBtn,
#previousBtn {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-image: url("./img/Arrow-Right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#nextBtn:hover,
#previousBtn:hover {
  background-image: url("./img/Arrow-Right-1.png");
}

#previousBtn {
  transform: scaleX(-1);
}

@media (max-width: 768px) {

  .page-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 430px) {
 
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 110px);
    justify-content: center;
    gap: 5px;
    padding-top: 0;
    margin-top: 15px;
  }

  .page-footer {
    height: 180px;
  }

  .footer-wave {
    height: 100px;
  }
}

@media (min-width: 1600px) {
  .page-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
  }

  .site-header {
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
  }

  .itemImage {
    width: 180px;
    height: 180px;
  }
   .page-content {
    margin-top: 250px;
  }
  .gallery-grid {
    padding-top: clamp(100px, 4vw, 140px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
